body{
    background: #f3f9f9;
}
.headCont{
    max-width: 1053px;
    width: 100%;
    margin: 0px auto;
    margin-top: 40px;
    display: flex;
    margin-left: 110px;
}
.logo{
   width: 93px;
   height: 72px;
   margin-right: 20px;
}
.logodiv{
    display: flex;
    align-items: center;
}
.name{
    color: #72249C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Zen Antique;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.headerUL{
    display: flex;
    align-items: center;
    margin-top: 29px;
    margin-left: 20px;
}
li{
    margin: 0px 10px;
}
a{
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.activePage{
    color: #735e5e;
}
.li{
    margin-right: 230px;
}
i{
  margin-right:20px ;
}
.footCont{
    padding-top: 100px;
    max-width: 1440px;
    width: 100%;
    height: 320px;
    background-color: #d9bde7;;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.logodiv2{
    margin-left: 139px;
    display: flex;
    align-items: center;
}
.footerUL{
 align-content: space-around;
}
.tbclog{
    width: 130px;
    height: 89px;

}
.sec1-cont{
    max-width: 1400px;
    width: 100%;
    height: 462px;
    background-image: url("../pictures/game\ zone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.sec2-cont{
    margin-bottom: 815px;
    margin-left: 110px;
    margin: 0 auto;
    width: 1320px;
    height: 489px;
    border-radius: 32px;
    border: 1px solid #1EADE9;
    background: #F1E9F5;
    
}
.flexdiv{
    display: flex;
    justify-content: flex-start;
}
.cont2Satauri{
    margin-left: 40px;
    margin-top: 25px;
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.popularGameDiv{
    margin-top: 25px;
    margin-left: 40px;
}
.popGame{
    margin-right: 21px;
    width: 400px;
    height: 294px;
    border-radius: 10px;
}
.nameDiv{
    display: flex;
    justify-content: space-around;
} 
.GameName{
    color: #000;
    font-family: Abhaya Libre ExtraBold;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.playerCount{
    color: #72249C;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.section{
    margin-top: 80px;
    margin-bottom: 64px;
}
.companyname{
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}